In [6]:
import pandas as pd
import numpy as np
import os 
print(os.getcwd())
# go back one directory
os.chdir('..')

c:\Users\ares\Desktop\Andrea\Leiden\Leiden University\Semestre 3\Statistical Consulting\Assignment\Submission code\Scientific

In [9]:
df= pd.read_csv("Data/Scientific Data/Final data.csv", sep=";")
# df = pd.read_csv("Data/Scientific Data/Final data.csv", sep="")
df_transposed = df.transpose()

df_transposed.to_csv("Data/datitrasposti.csv")
media = df_transposed.iloc[2:, 2:].mean(axis=1)
media_completa = pd.concat([pd.Series([np.nan, np.nan]), media], ignore_index=False)
media_completa=media_completa.reset_index(drop=True)
df_transposed
# Extract latitude and longitude columns
lat = df_transposed[1].reset_index(drop=True)
lon = df_transposed[0].reset_index(drop=True)

# new data frame with lat, long, and media
df_finale = pd.DataFrame({
    "lat": lat,
    "long": lon,
    "media": media_completa
})
df_finale=df_finale.iloc[2:100,:]
df_finale["media"]=df_finale["media"]
df_finale["media"] = pd.to_numeric(df_finale["media"], errors="coerce")
df_finale["media"] = df_finale["media"].round(0).astype(int)
df_finale.to_csv("DataAfterCluster.csv")
df_finale

          lat      long  media
2   51.987244  5.660978      6
3   51.987262  5.660963      5
4    51.98419  5.664176      5
5   51.982826   5.65935      4
6   51.984393  5.665502      6
..        ...       ...    ...
95  51.981689  5.655726      5
96  51.985694  5.662832      6
97  51.986008  5.662936      5
98  51.986488  5.665399      5
99  51.986783   5.66591      5

[98 rows x 3 columns]